.nav-container {
    height: 100px;
    width: 100%;
    z-index: 9;
}

.nav-container .current-page a {
    border-bottom: 2px #000 solid;
}

.nav-content {
    max-width: 1000px;
    height: 100px;
    margin: 0 auto;
    padding: 0 0 0 40px;
    z-index: 5;
}

.nav-title {
    float: right;
}
.nav-title a{
    font-size: 30px;
    font-weight: bold;
    line-height: 100px;
}

.nav-container nav {
    line-height: 100px;
}


.nav-container ul {
    padding: 0;
    margin: 0;
}

.nav-container ul li {
    display: inline-block;
    margin: 0 12px;
    width: auto;
    list-style-type: none;
}

.nav-container nav a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}


.nav-container nav a:hover {
    color: #152f60 !important;
}

.nav-container nav a:visited {
    color: black;
}
