.content-section {
    min-width: 1000px;
}
.content-section.blue-background {
    background-color: #152f60;
    color: white;
}

.content-section .content-section-container, .content-section .content-section-container-lg {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
    z-index: 5;
}

.content-section .content-section-body {
    width: 800px;
    margin: 30px auto 0;
    z-index: 5;
}


.content-section .content-section-body p {
    padding: 0;
}

.content-section .picture {
    position: relative;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content-section .picture img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.content-section h3 {
    font-size: 24px;
}

.content-section p {
    padding: 0 20px;
}