.content-section {
    min-width: 800px;
}

.content-section .picture {
    position: relative;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content-section .picture img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.content-section h3 {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
}

.content-section p {
    padding: 0 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}