.content-container {
    margin-bottom: 30px;
}

.practice-detail {
    display: flex;
}
.practice-detail h5  {
    margin: 10px 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
.practice-detail p {
    margin: 0;
}
.practice-time {
    width: 400px;
    display: inline-block;
}
.practice-time, .practice-location {
    display: inline-block;
    vertical-align: top;
}
.practice-time .practice {
    margin: 0 50px;
}
.practice-location a {
    display: block;
    margin: 10px 20px;
}